.git

# .gitignore
.python-version
venv
.meltano
.env
.envrc
ui.cfg
output
.idea
.swp

/test

# transform/.gitignore
/transform/target/
/transform/dbt_modules/
/transform/logs/

# custom
.python-version
*.backup
README.md
